<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="dto.memberDto">

<resultMap type="com.java.member.dto.MemberDto" id="member_dto">
	<result column = "id" property = "id"/>
	<result column = "password" property = "password"/>
	<result column = "gender" property = "gender"/>
	<result column = "jumin1" property = "jumin1"/>
	<result column = "jumin2" property = "jumin2"/>
	<result column = "phone" property = "phone"/>
	<result column = "email" property = "email"/>
	<result column = "domain" property = "domain"/>
	
	<!-- db와 java 간의 컬럼이 다른 것들 -->
	<result column = "member_level" property = "memberLevel"/>
	<result column = "report_count" property = "reportCount"/>
	<result column = "register_date" property = "registerDate"/>
	<result column = "block_date" property = "blockDate"/>
	<result column = "del_date" property = "delDate"/>
	<result column = "user_key" property = "userKey"/>
	
</resultMap>
	<insert id="member_insert" parameterType="com.java.member.dto.MemberDto">
		insert into member(id,password,name,gender,jumin1,jumin2,phone,email,domain,member_level,report_count,register_date)
		values(
				#{id},
				#{password},
				#{name},
				#{gender},
				#{jumin1},
				#{jumin2},
				#{phone},
				#{email},
				#{domain},
				#{memberLevel},
				#{reportCount},
				sysdate
				)
	</insert>
	
	
	<!-- 회원정보수정 버튼 누를때 정보 불러오기 -->
	<select id="member_select" parameterType="String" resultMap="member_dto">
		select *
		from member
		where id=#{id}
	
	</select>
	
	<!-- ID중복확인 -->
	<select id="id_doublecheck" parameterType="String" resultType="int">
		select count(*) from member where id=#{id}
	</select>
	
	
	<!-- 로그인  -->
	<select id="member_login" parameterType="java.util.Map" resultType="java.util.HashMap">
		select id, password, member_level
		from member
		where id=#{id} and member_level between 1 and 3
	</select>
	
	<!-- 수정완료 버튼 변경되기로 한 항목들 추가로 적어주기-->
	<update id="member_update" parameterType="com.java.member.dto.MemberDto">
		update member
		set 
			password = #{password},
			phone = #{phone}
		where id = #{id}
	</update>
	
	<!-- 아이디 찾기 -->
	<select id="member_findId" parameterType="java.util.Map" resultType="String">
		select id from member where name=#{name} and phone=#{phone}
	</select>
	
	<!-- 비밀번호찾기 - 아이디,이메일 찾기 -->
	<select id="checkIdandEmail" parameterType="java.util.Map" resultType="int">
		select count(*) from member where id=#{id} and email=#{email}
	</select>
	
	<!-- 비밀번호 찾기 - 인증키 업데이트 -->
	<update id="updateAuthkey" parameterType="java.util.Map">
		update member set user_key = #{authKey} where id=#{id}
	</update>
	
	<!-- 비밀번호 찾기 - 비밀번호 변경 -->
	<update id="changePassword" parameterType="java.util.Map">
		update member set password=#{password} where id=#{id} and user_key=#{authKey}
	</update>
	
	<!-- 회원탈퇴 -->
	<update id="member_delete" parameterType="String">
		update member set member_level = 4 where id=#{id}
	</update>





</mapper>